table {
  width: 100%;
}

#filter-form {
  display: flex;
  justify-content: space-between;

  #regulation {
    line-height: 20px;
  }

  #selection {
    text-align: left;
    #box {
      border-left: 5px solid #50d5ff;
      background: #b8e5f7;
      padding: 5px;

      button {
        margin-top: 3px;
      }
    }
  }
}

p {
  margin: 0;
}

/* Adjust the "rank" column to only take up 15% of the table width */
.mat-column-rank {
  flex: 0 0 20%;
}

.mat-column-select {
  overflow: initial;
  flex: 0 0 5%;
}

.mat-expansion-panel-header-title {
  letter-spacing: normal;
}

::ng-deep .mat-expansion-panel-body {
  border-bottom-width: 0px;
  margin: 0 !important;
  padding: 5px !important;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

::ng-deep .stat-descr-btn {

  width: auto;
  height: auto;
  line-height: normal;
  margin-top: -5px;
  font-size: 12px;

  mat-icon{
    font-size: 12px;
  }
}

#enrichr-processing {
  margin-left: 10px;
  font-size: 12px;
}

// bold on hover
::ng-deep .stat-descr-btn:hover {
  font-weight: bold;
}

.mat-cell {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

td.mat-cell {
  border: none;
  padding: 0 !important;

}

th.mat-header-cell {
  border: none;
  padding: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#selected-genes {
  overflow-y: auto;
  max-height: inherit;
}
