.container {
  /* center hor and ver */
  height: 100vh;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
}

.upload-container {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(86, 184, 230, 0.329);
}

table {
  width: 100%;
}

#filter-form {
  margin-top: 10px;
}

p {
  margin: 0;
}

/* Adjust the "rank" column to only take up 15% of the table width */
.mat-column-rank {
  flex: 0 0 20%;
}

/* disable highlighting */
svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: lightblue;
  height: 715px;
  width: 1500px;
}

.mat-column-select {
  overflow: initial;
  flex: 0 0 5%;
}

td.mat-cell {
  border: none;
  padding: 0 !important;
}

th.mat-header-cell {
  border: none;
  padding: 0 !important;
}

h4 {
  margin: 0;
  margin-bottom: 4px;
}

#side-bar {
  margin-left: 20px;
  max-height: 500px;
  width: 100%;

  #selected-genes {
    overflow-y: auto;
    max-height: inherit;
  }

  #num-genes-selected {
    margin-top: 10px;
    color: lightgray
  }
}


