<div class="container">
  <h2>Volcano Plot for Differential Expression Analysis</h2>
  <p>
    This is a standalone, interactive Volcano Plot to explore
    the results of Differential Expression Analysis. It is an in-progress feature that will soon become available as part of <a href="https://oncoscape.sttrcancer.org/" target="_blank">Oncoscape</a>.
  </p>
  <div class="upload-container">
    <p style="margin-bottom: 10px; margin-top: 10px; font-weight: bold;">Try it out on your own Differential Expression Analysis output (csv)</p>
    <app-csv-upload
      (onDataUploaded)="onDataUploaded($event)"
    ></app-csv-upload>
  </div>
  <app-visualization-volcano
    *ngIf="volcanoData && showVolcano"
    [data]="volcanoData"
    id="1"
  ></app-visualization-volcano>
</div>
