::ng-deep app-enrichment-analysis {
  :host {
    display: block;
  }

  #ea-svg-container {
    position: relative;
  }

  #no-genes-hint {
    color: lightslategray;
  }

  .mat-expansion-panel-header-title {
    letter-spacing: normal;
    text-transform: none !important;
  }

  .mat-expansion-panel-body {
    border-bottom-width: 0px;
    margin: 0 !important;
    padding: 5px !important;
  }

  .toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .toggle-label {
    font-size: 9px;
    color: grey;
    margin-bottom: 5px; /* Adjust spacing as needed */
  }

  #download-type-select {
    font-size: 10px;
    width: 100px;
  }
  button {
    font-size: 10px;
  }
  #download-link {
    color: white;
  }
  #download-link:visited {
    color: white;
  }


  .hints {
    position: absolute;
    top: -20px;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      margin-left: 10px;
      font-size: 10px
    }

    .icon {
      font-size: 2em;
      position: relative;
      top: 2px;
    }
  }

  .control-wrapper {
    display: flex;
    gap: 5px;
  }
}

.ea-tooltip {
  font-size: 10px !important;
}
