<div [id]="'enrichment-dot-plot-' + id" class="ea-container">
  <div *ngIf="genes.length > 0" id="enrichment-dot-plot-controls">
    <mat-expansion-panel
      [hideToggle]="false"
      [expanded]="true"
      (afterCollapse)="render()"
      (afterExpand)="render()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="text-transform: none">
          Controls
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>

      <div class="control-wrapper">
        <mat-form-field id="select-color-by">
          <mat-label>Color By</mat-label>
          <mat-select
            [value]="options.plotting.colorBy"
            id="colorBy"
            (selectionChange)="updatePlottingOption($event)"
          >
            <mat-option
              *ngFor="let option of colorByOptions"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field id="select-size-by">
          <mat-label>Scale By</mat-label>
          <mat-select
            [value]="options.plotting.sizeBy"
            id="sizeBy"
            (selectionChange)="updatePlottingOption($event)"
          >
            <mat-option *ngFor="let option of sizeByOptions" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="select-sort-by">
          <mat-label>Sort By</mat-label>
          <mat-select
            [value]="options.plotting.sortBy"
            id="sortBy"
            (selectionChange)="updatePlottingOption($event)"
          >
            <mat-option *ngFor="let option of sortByOptions" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="select-x-axis">
          <mat-label>X Axis</mat-label>
          <mat-select
            [value]="options.plotting.x"
            id="x"
            (selectionChange)="updatePlottingOption($event)"
          >
            <mat-option *ngFor="let option of xAxisOptions" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="control-wrapper">
        <mat-form-field id="select-ann-dataset">
          <mat-label>Annotation dataset</mat-label>
          <mat-select [(ngModel)]="currentAnnDatasetId">
            <mat-option
              [value]="dataset.id"
              [matTooltip]="dataset.description"
              *ngFor="let dataset of ea.availableAnnotationDatasets"
              >{{ dataset.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field id="n-input" style="width: 75px">
          <mat-label># GO Terms</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="options.plotting.n"
            (change)="render()"
            [min]="5"
            [max]="50"
          />
        </mat-form-field>

        <div class="toggle-container">
          <span class="toggle-label">Shorten GO Term labels</span>
          <mat-slide-toggle
            [(ngModel)]="useIdsForTermLabels"
          ></mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div id="ea-svg-container">
    <div id="loading-genes-container" *ngIf="loadingGenes">
      <img src="assets/icons/spinner.gif" width="15px" height="15px" />
      <p style="display: inline-block; margin-left: 10px; font-size: 10px">
        Getting genes for GO Term (keep your mouse on the selected point)
      </p>
    </div>
  </div>
</div>

<div
  *ngIf="genes.length === 0"
  style="
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <p id="no-genes-hint">
    Select genes on the volcano plot to view Enrichment Analysis
  </p>
</div>

<div
  *ngIf="loading"
  style="
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <mat-spinner></mat-spinner>
  <p style="margin-left: 10px">Running Enrichment Analysis</p>
</div>
