::ng-deep app-enrichment-analysis {
  :host {
    display: block;
  }

  #no-genes-hint {
    color: lightslategray;
  }

  .mat-expansion-panel-header-title {
    letter-spacing: normal;
    text-transform: none !important;
  }

  .mat-expansion-panel-body {
    border-bottom-width: 0px;
    margin: 0 !important;
    padding: 5px !important;
  }
}

.ea-tooltip {
  font-size: 10px !important
}


