

.volcano-container {
  display: flex;
  margin: 0;
  height: 80vh;
}

.mat-expansion-panel-header-title {
  letter-spacing: normal;
}

p {
  margin: 0;
}

/* disable highlighting */
svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h4 {
  margin: 0;
  margin-bottom: 4px;
}

#side-bar {
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;

  #select-by-stats {
    display: flex;
    gap: 20px;

    ::ng-deep .mat-form-field-wrapper{
      margin-bottom: -1.25em;
    }

    button {
      padding: 0;
      height: fit-content;
    }
  }

  #num-genes-selected {
    margin-top: 10px;
    color: lightgray
  }

  app-volcano-gene-table {
    flex: 1;
    max-height: 60vh;
  }
}

#no-genes {
  height: 90%;
  color: lightslategray
}
