<div class="volcano-container" [ngClass]="{ 'full-screen': isFullScreen }">
  <div>
    <div id="top-bar">
      <div id="top-bar-left">
        <button
          mat-icon-button
          matTooltip="Toggle Fullscreen"
          (click)="toggleFullScreen()"
          id="toggle-fullscreen-button"
        >
          <mat-icon *ngIf="isFullScreen">fullscreen</mat-icon>
          <mat-icon *ngIf="!isFullScreen">fullscreen_exit</mat-icon>
        </button>
        <!-- save button -->

        <div id="download-plot-form-container">
          <!-- mat select dropdown of save type (svg, png, pdf) -->
          <mat-form-field id="download-type-select">
            <mat-label>Select download type</mat-label>
            <mat-select [(value)]="downloadPlotType">
              <mat-option value="svg">SVG</mat-option>
              <mat-option value="png">PNG</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            id="download-button"
            mat-flat-button
            color="primary"
            (click)="onDownloadImageClick()"
          >
            <a id="download-link">Download Plot</a>
          </button>
        </div>
      </div>

      <div id="axis-ranges">

        <mat-form-field style="width: 100px">
          <mat-label>X Min</mat-label>
          <input
          matInput
          id="x-axis-range-min"
          type="number"
          step="0.50"
          name="x"
          [min]="dataBoundingBox.xMin"
          [max]="dataBoundingBox.xMax"
          [value]="axisRanges.xMin"
          (change)="updateAxisRange($event, 'min')"
        />

        </mat-form-field>

        <mat-form-field style="width: 100px">
        <mat-label>X Max</mat-label>
        <input
          matInput
          id="x-axis-range-max"
          type="number"
          step="0.50"
          name="x"
          [min]="dataBoundingBox.xMin"
          [max]="dataBoundingBox.xMax"
          [value]="axisRanges.xMax"
          (change)="updateAxisRange($event, 'max')"
        />
        </mat-form-field>

        <mat-form-field style="width: 100px">
          <mat-label>Y Axis Range</mat-label>
          <input
          matInput
          id="y-axis-range"
          type="number"
          step="0.05"
          name="y"
          [min]="dataBoundingBox.yMin"
          [max]="dataBoundingBox.yMax"
          [value]="axisRanges.yMin"
          (change)="updateAxisRange($event, 'min')"
        />
        <input
          matInput
          id="y-axis-range"
          type="number"
          step="0.05"
          name="y"
          [min]="dataBoundingBox.yMin"
          [max]="dataBoundingBox.yMax"
          [value]="axisRanges.yMax"
          (change)="updateAxisRange($event, 'max')"
        />
        </mat-form-field>
      </div>


      <div id="regulation-colors">
        <mat-form-field appearance="none">
          <input
            matInput
            type="color"
            [value]="selectByStatsForm.downregulatedColor"
            (change)="updateRegulationColor($event.target.value, 'down')"
          />
          <span class="label">Downregulated gene color</span>
        </mat-form-field>
        <br />
        <mat-form-field appearance="none">
          <input
            matInput
            type="color"
            [value]="selectByStatsForm.upregulatedColor"
            (change)="updateRegulationColor($event.target.value, 'up')"
            style="display: inline-block"
          />
          <span class="label">Upregulated gene color</span>
        </mat-form-field>
      </div>
    </div>

    <svg [id]="'volcano-' + id"></svg>
  </div>

  <div id="side-bar">
    <!-- Select By Statistical Thresholds -->
    <mat-expansion-panel
      [hideToggle]="false"
      [expanded]="true"
      (opened)="selectByStatsFormCollapsed = false"
      (closed)="selectByStatsFormCollapsed = true"
      id="select-by-stats-exp-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="text-transform: none"
          >Select by Statistical Thresholds</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div id="select-by-stats">
        <div id="p-adj-input-container">
          <p id="title">P-Adjusted</p>
          <mat-form-field style="width: 100px">
            <mat-label>-log<sub>10</sub>(p-adjusted)</mat-label>
            <input
              matInput
              type="number"
              id="nlogpadj"
              name="nlogpadj"
              step="0.05"
              [value]="selectByStatsForm.nlogpadj"
              (change)="updateSelectByStatsForm($event)"
            />
          </mat-form-field>

          <span class="slash"></span>

          <mat-form-field style="width: 100px">
            <mat-label>p-adjusted</mat-label>
            <input
              matInput
              type="number"
              id="padj"
              name="padj"
              step="0.001"
              [value]="selectByStatsForm.padj"
              (change)="updateSelectByStatsForm($event)"
            />
          </mat-form-field>
        </div>

        <div id="fc-input-container">
          <p id="title">Fold Change</p>
          <mat-form-field style="width: 100px">
            <mat-label>Log2 Fold Change</mat-label>
            <input
              matInput
              type="number"
              id="log2FoldChange"
              name="log2FoldChange"
              step="0.05"
              [value]="selectByStatsForm.log2FoldChange"
              (change)="updateSelectByStatsForm($event)"
            />
          </mat-form-field>

          <span class="slash"></span>

          <mat-form-field style="width: 100px">
            <mat-label>Fold Change</mat-label>
            <input
              matInput
              type="number"
              id="foldChange"
              name="fc"
              step="0.05"
              [value]="selectByStatsForm.fc"
              (change)="updateSelectByStatsForm($event)"
            />
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button color="primary" (click)="selectByStats()">Reselect</button>
        </div>

      </div>
    </mat-expansion-panel>

    <app-volcano-gene-table
      [upregulatedColor]="selectByStatsForm.upregulatedColor"
      [downregulatedColor]="selectByStatsForm.downregulatedColor"
      [getGeneRegulation]="getGeneRegulation.bind(this)"
      [selectByStatsFormCollapsed]="selectByStatsFormCollapsed"
      [points]="points"
      [selectedPoints]="emittedPoints"
      (selectionChanged)="labelPoints($event)"
    ></app-volcano-gene-table>
    <!-- <div *ngIf="emittedPoints.length === 0" id="no-genes">
      <h4>Interactivity Tips</h4>
      <p>- Click on a point to select a gene</p>
      <p>- Hold down the shift key to select multiple points</p>
      <p>- Drag to select a region</p>
      <p>- Drag while holding shift to add a region to the selection</p>
      <p>- Drag while holding alt to deselect a region</p>
    </div>
  </div> -->
  </div>
</div>
